body {
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: rgb(34, 34, 34);

}
img {
    width: 180px;
    height: 130px;
}

li {
    display: inline-block;
    margin:20px ;
}

main {
    display: flex;
    flex-direction: row;
   
}

p {
    font-size: 20px;
    width: 60%;
}

h2 {
    font-size: 30px;
    line-height: 10px;
}

.controle {
    width: 500px;
    height: 350px;
}

h3 {
    text-align: center;
   
}

h3:hover {
    color: royalblue;
    transition: 0.4s;
    text-shadow: 1px 1px 2px;
    cursor: pointer;
}

.cor {
    color: rgb(132, 14, 201);
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 19px;
}
a:hover {
    color: rgb(132, 14, 201);
    transition: 0.4s;
}

#increva-sebtn {
    border: 2px solid rgb(132, 14, 201);
    padding: 12px;
    border-radius: 23px;
}
#increva-sebtn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

.bar {
    background-color: rgb(132, 14, 201);
    width: 80%;
    height: 2px;
   
}

footer {
    color: black;
    background-color: grey;
    font-size: 10px;
    text-align: center;
}
